.todoEntry {
    margin-bottom: 8px;
    list-style-type: none;
}

.description {
    background-color: lightblue;
    border-radius: 4px;
    padding: 4px;
}

label {
    height: 32px;
}

@keyframes strike {
    0%   { width : 0; }
    100% { width: 100%; }
}

:checked + .description {
    position: relative;
}

/* https://stackoverflow.com/a/36267849/258065 */
:checked + .description::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
    animation-name: strike;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}

.dueDate {
    padding-left: 32px;
    font-size: 10px;
    color: #555;
}

.centered {
    align-items: center;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

.col {
    display: flex;
    flex-flow: column nowrap;
}